
body 
{
    font-family:'Montserrat',sans-serif;
}
h1
{
	color : black;
	font-size: 40px;
	margin-top:27px;
	font-family:'Montserrat';
}
h1 a
{
	text-decoration: none;
	color:black;
}








#Container_header
{
	position:absolute;
	width: 800px;
	height: 50px;
	left:1%;
	top:2%;
}

#bMenu:hover 
{
	cursor: pointer;

}

#bMenu:hover #bMenu2
{
	cursor: pointer;
	margin-bottom:10px;
	margin-top:10px;	
}
#bMenu:hover #bMenu1
{
	margin-top:-5px;
}



#bMenu
{
	width:40px;
	height:50px;
	padding:1px;
	transition: all 0.2s ease;
	float:left;
	margin-right:10px;
	padding-top:6px;

}

#bMenu1, #bMenu2, #bMenu3 {
width: 30px;
height: 0px;
border-top: 5px solid #67008C;
border-radius: 20px;
margin-top: 3px;
margin-bottom: 3px;
margin-left:5px;
transition: all 0.2s ease;
}





#active {
	color:#B49CBE;
}
#Menu
{
	float:left;
	width:800px;
	height:50px;
}
#Menu ul 
{
	width:800px;
	height:50px;
	padding:1px;
}
#Menu ul li 
{
	display: none;
	padding-right:20px;
	font-size:25px;
	margin-top:5px;
}

#Menu li a 
{
	text-decoration:none;
	color:#67008C;
}






#container {
	width:1200px;
	float:left;
}

#QuiSuisJe {
	font-size:70px;
	color:#67008C;
	margin-bottom:50px;
}

#profil p {
	text-align: justify;
	float:left;
}
#text_profil {
	width:550px;
	margin-top:70px;
	position:absolute;
	left:13%;
	top:10%;
}
#photoProfil {
	position:absolute;
	width:550px;
	height:730px;
	bottom:0px;
	left:55%;
}

#lienPDF img {
	width:50px;
	height:50px;
}
#lienPDF {
	position:absolute;
	left:85%;
	top:16%;
}

#containerCv h2, h3
{
	color:#67008C;
}


#containerCv {
	position:absolute;
	top:6%;
	left:20%;
	font-size:110%;
}

#hearder_cv {
	margin-top: 10px;
	padding: 1px 0;
	height: 70px;
	border-bottom:solid #67008C 1px;
}

#hearder_cv h2{
	font-size:20px;
	width:200px;
	position:absolute;
	margin-top:10px;
	margin-left:10px;
	font-family: Cursive;
}

#age{
	float:left;
	margin-top:40px;
	margin-left :10px;
	width: 60px;
}

#info_contact{

	float:right;
	margin-top:10px;
	color:#67008C;

}

.dateCV {
	font-size:15px;
	width: 250px;
margin-top: 10px;
float: left;
margin-left: 10px;
}

.InfoCV {
	font-size:12px;
margin-top: 10px;
float: left;
width: 700px;
height: 40px;
}
.UneLigne
{
	height:60px;
}

#Competences {
	padding:1px 0;
	height:250px;
}
#formations {
	padding:1px 0;
	height:200px;
	margin-top:10px;
}
#experiences
{
	padding:1px 0;
	height:150px;
}


#sayHello
{
	font-size: 70px;
	width:500px;
	height:100px;
	margin-left:150px;
	margin-top:50px;
	color:#67008C;

}


#contactForm{
	position:absolute;
	left:5%;
	top:10%;
}
#form {
	width:1100px;
	margin-left:150px;
	margin-top:20px;

}
#Cnom {
	width : 530px;
	height:40px;
}
#Cmail {
	margin-left:20px;
	width : 530px;
	height:40px;
}

#Ccont {
	width : 1090px;
	height:200px;
	margin-top:20px;
	resize:vertical;
}
#submit {
	width:100px;
	height:30px;
	margin-top:20px;
}
#notifMailOK {
	margin-left:1000px;
	color:black;

}





#choixliste {
	width:100%;
	background:url('../images/backgroundChoixProjet.jpg');
	height:30%;


}
#containerChoix {
	margin-top: 2%;
	margin-left:5%;
	margin-bottom:2%;
	
}

.choix {
	margin-right:3%;
	float:left;
}
.titreChoix {
	position: absolute;
	background-color:white;
	display:none;
}
.choix:hover {
	transform: translateX(-2px) translateY(-2px);
	cursor:pointer;
	/*box-shadow: 7px 7px black;*/
}
#projetsliste {
	background:url('../images/backgroundProjet.jpg');
}

#containerProjet {

	position:absolute;
	width:100%;
	top:10%;
}
.projets{
	border-bottom:solid 3px #67008C;
	text-align:center;
	width:100%;
	height:500px;

}
#choixMode:hover #titreChoixMode
{
	display:block;
}
#choixMode:hover #titreChoixMode2
{
	display:block;
}
#choixRpg:hover #titreChoixRPG
{
	display:block;
}
#choixRpg:hover #titreChoixRPG2
{
	display:block;
}
#choixBlueNote:hover #titreChoixBlueNote
{
	display:block;
}
#choixBlueNote:hover #titreChoixBlueNote2
{
	display:block;
}
#choixOthelo:hover #titreChoixOthelo
{
	display:block;
}
#choixOthelo:hover #titreChoixOthelo2
{
	display:block;
}
#choixSTI:hover #titreChoixSTI
{
	display:block;
}
#choixSTI:hover #titreChoixSTI2
{
	display:block;
}

.pDroit{
	float:right;
	margin-right:20px;
	margin-right:200px;
	margin-top:120px;
	width:400px; 

}
.pGauche{
	float:left;
	margin-left:150px;
	margin-top:120px; 
	width:400px;
}
#slider{
	float:left;
	width:500px;
	height:400px;
	margin-left:100px;
	margin-top:30px;

}